In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(font_scale=1.5)
%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [2]:
df = pd.read_csv("dataset/QS World University Rankings 2022.csv")

In [3]:
df.head()

,year,rank_display,university,score,link,country,city,region,logo
0,2022,1,Massachusetts Institute of Technology (MIT),100.0,https://www.topuniversities.com/universities/m...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...
1,2022,2,University of Oxford,99.5,https://www.topuniversities.com/universities/u...,United Kingdom,Oxford,Europe,https://www.topuniversities.com/sites/default/...
2,2022,=3,Stanford University,98.7,https://www.topuniversities.com/universities/s...,United States,Stanford,North America,https://www.topuniversities.com/sites/default/...
3,2022,=3,University of Cambridge,98.7,https://www.topuniversities.com/universities/u...,United Kingdom,Cambridge,Europe,https://www.topuniversities.com/sites/default/...
4,2022,5,Harvard University,98.0,https://www.topuniversities.com/universities/h...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...

In [4]:
df.drop(columns = ["link", "logo", "year"], inplace = True)

In [5]:
df.head()

,rank_display,university,score,country,city,region
0,1,Massachusetts Institute of Technology (MIT),100.0,United States,Cambridge,North America
1,2,University of Oxford,99.5,United Kingdom,Oxford,Europe
2,=3,Stanford University,98.7,United States,Stanford,North America
3,=3,University of Cambridge,98.7,United Kingdom,Cambridge,Europe
4,5,Harvard University,98.0,United States,Cambridge,North America

In [6]:
df.shape

(1300, 6)

In [7]:
df_us = df["country"] == "United States"

In [8]:
df_us

0        True
1       False
2        True
3       False
4        True
        ...
1295    False
1296    False
1297    False
1298    False
1299    False
Name: country, Length: 1300, dtype: bool