1. write a function to compute the area of a triangle

In [1]:
def area_triangle(height, base):
    area = (height*base)/2
    return area

area_triangle(2,3)

3.0

2. Use Math library to import pi to write a function to compute the area of a circle

In [2]:
import math
def area_circle(r):
    area = r*r*math.pi
    return area

In [3]:
area_circle(3)

28.274333882308138

3. Write a function that takes a list of numbers (amounts in euros), and returns them converted to dollars. Use your answer to the previous question in your answer to this question.
* _Example:_ `to_dollar_list([1, 10, 100]) == [1.1, 11.0, 110.0]`
* _Note:_ You may get some decimal weirdness here.

4. Write a function that takes a number (a person's height) and returns "Tall enough" if they are at least 5 feet (60 inches) or "Too short" if they are below 5 feet.
* _Example:_ `is_tall(72) == 'Tall enough'`
* _Example:_ `is_tall(52) == 'Too short'`

5. Write a function that takes in a numeric grade (0 to 100) and returns the letter grade (no pluses or minuses). In a traditional rubric, that would be as follows:

* 90 or above = A
* 80 - 89 = B
* 70 - 79 = C
* 60 - 69 = D
* 59 or below = F
    
    
* _Example:_ `letter_grade(85) == 'B'`

6.Write a function that takes in a string and returns the number of vowels in that string. (No, y is not a vowel).
* _Example:_ `vowel_count('Hitomi') == 3`

7. Using list-comprehension to print out onlt even numbers

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
even_num = []
for i in numbers:
    if i%2 ==0:
        even_num.append(i)
        
print(even_num)

8. Write a function that takes in a numeric grade (0 to 100) and returns the letter grade (no pluses or minuses). In a traditional rubric, that would be as follows:

* 90 or above = A
* 80 - 89 = B
* 70 - 79 = C
* 60 - 69 = D
* 59 or below = F
    
    
* _Example:_ `letter_grade(85) == 'B'`

Write a function that takes in a string (likely multiple words long) and returns that string with each word reversed, but with the words in the same order.
* _Example:_ `letter_reverser('Data') == 'ataD'`

In [5]:
s = "1234"
s[::-1]

'4321'

Iterate through lists at the same time, concatenating strings from each

In [ ]:
strings_1 = ['alpha', 'bravo', 'charlie', 'delta']
strings_2 = ['echo', 'foxtrot', 'golf', 'hotel']

### Python LIbraries

Numpy

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
step = 0.5
A = np.arange(1,10,step)

type(A)

In [ ]:
A = np.arange(25).reshape((5,5))
A

In [ ]:
A = np.ones(25).reshape((5,5))
A

In [ ]:
A = np.zeros(25).reshape((5,5))
A

Pandas

In [ ]:
df = pd.read_excel("Athletes.xlsx")

In [ ]:
df.head()

In [ ]:
df['NOC'].unique()

In [6]:
s.count("ssasdfg")

0