### Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set(font_scale=1.5)
%config InlineBackend.figure_format = 'retina'
%matplotlib inline

### read dataset using pd.read_csv("path of the file")

### Print out first 5 rows of the data

### Checking the datatypes of the columns using df.dtypes

### Changing "Unnamed: 0" to "College_name"

### Print out all the columns names

### print first 5 rows of the data again

### Print out the shape of the dataset using df.shape

### Plot a Histgram

#### Apps

In [2]:
# sns.distplot(df['Apps'],bins=20,kde=False)
# plt.show()

#### Accept

#### Enroll

#### Top10perc

#### phd

### Plot Accept and enroll together

### resources

Take a look at the matplotlib and seaborn documentation for some inspiration. Tableau and D3 also have good resources on its website.

Click here for more:

[Matplotlib gallery](http://matplotlib.org/gallery/index.html)

[Seaborn gallery](http://seaborn.pydata.org/examples/index.html)

[Tableau charts and graphs](https://drive.google.com/file/d/0Bx2SHQGVqWasT1l4NWtLclJJcWM/view)

[D3 gallery](https://github.com/mbostock/d3/wiki/Gallery)